body{
    background-image: url(./defd359ad8261995cb9ebb434c0299a6.jpg);
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    width: 100%;
    justify-content: space-around;
    border-bottom:1px solid black ;
    background-color: white;
    list-style: none;
    
}
h2{
    background-color: aqua;
    padding: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
padding-bottom: 0.5cm;
padding-top: 0.5cm;
}
a{
    text-decoration: none;
    border-right: 1px;
    list-style: none;
    margin-left:2cm ;
}
.portfolio{
width: 800px;
height: 800px;
border: 1px solid black;
background-color: white;
margin-top: 1cm;
margin-left: 4cm;

}
.portfolioh{
    color: rgb(4, 66, 66);
    background-color: white;
}
.dog1{
    width: 6.5cm;
    height: 6.5cm;
    display: flex;
    flex-direction: column;
box-sizing: border-box;

    margin-left: 2cm;

}
.d1{
    margin-bottom: 1cm;
}
.d2{
    margin-bottom: 1cm;
}
.d4{
    width: 6.5cm;
    height: 4.5cm;
    margin-left: 12cm;
    margin-bottom: 15cm;

}